body{
  transition:1s all;
  background-color:#000 ;
  background-image:url(../image/back.png);
  border-width: 20px;
  border-style: solid;
  border-color:#000;
  }
body.fp-viewing-0 {
  background-color:#0e1f7f;
  border-color: #062d5e;
}
body.fp-viewing-1{
  background-color:#572362;
  border-color: #420f4d;
}
body[class*="fp-viewing-2"] {
  background-color:#25a599;
}
.fp-viewing-0 .header ul li{
  border-color:#062d5e;
}
.fp-viewing-1 .header ul li{
  border-color:#420f4d;
}
[class*="fp-viewing-2"] .header ul li{
  border-color:#1c8e80;
}
.fp-viewing-1 .header ul li a{
  color: #420f4d;
}
[class*="fp-viewing-2"] .header ul li a{
  color: #1c8e80;
}
.wulogo{
  padding: 0px !important;
}
.wulogo svg{
  width:44px;
  height:43px;
}
.wulogo svg polygon{
  fill:#444;
}
.fp-viewing-0 .wulogo svg polygon{
  fill:#062d5e;
}
.fp-viewing-1 .wulogo svg polygon{
  fill:#420f4d;
}
[class*="fp-viewing-2"] .wulogo svg polygon{
  fill:#1c8e80;
}
.normal-view-content{
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
  border:0px solid;
  z-index: 9;
  transition:1s all;
}
body[class*="fp-viewing-2"]{
  border-color: #1c8e80;
}
.loading #welcome{
  animation: unset !important;
}
.fp-viewing-0  #welcome{
  transition: .5s all;
  opacity: 0;
  animation: movein 2500ms .5s forwards;
}
@keyframes movein {
	0% {
    opacity: 0;
	padding-top:150vh;
	}
	100% {
    opacity: 1;
	padding-top:0vh;
	}
   }
.normal-view-box{
  position: relative;
  float: left;
  color: #388abb;
  line-height:43px;
  font-size:18px;
  background-color: #fff;
  font-weight: bold;
  overflow: hidden;
}
.normal-view-movie,.normal-view-resume,.normal-view-title{
  transition:width 1s;
  width:0px;
  height:44px;
}
.fp-viewing-0 .normal-view-movie{
  width:calc(100vw - 230px);
  height:44px;
}
.fp-viewing-1 .normal-view-resume{
  width:200px;
  height:44px;
}
[class*="fp-viewing-2"] .normal-view-title{
  width:200px;
  height:44px;
}
.fp-viewing-1 .normal-view-box{
  color: #420f4d;
}
[class*="fp-viewing-2"] .normal-view-box{
  color: #1c8e80;
}
.fp-viewing-2-0 .normal-view-title::before{
  position: absolute;
  content:"SMART HOME APP";
}
.fp-viewing-2-1 .normal-view-title::before{
  position: absolute;
  content:"能源申報整合平臺";
}
.fp-viewing-2-2 .normal-view-title::before{
  position: absolute;
  content:"訴願系統";
}
.fp-viewing-2-3 .normal-view-title::before{
  position: absolute;
  content:"差勤行政管理系統";
}
.fp-viewing-2-4 .normal-view-title::before{
  position: absolute;
  content:"???????";
}
/*only for ie好棒棒*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fp-viewing-0 .normal-view-movie{
    width:530px;
  }
}
@media(max-width:767px) {
  .header .nav-ul{
    bottom: 55px;
    position: absolute;
    width: 100vw;
  }
  .nav-item{
    width: calc(33vw - 5px);
    margin-right: -10px;
    margin-bottom:5px;
  }
  .nav-item > a{
    padding:10px 20px;
    float:none;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color:transparent;
  }
  .nav-item:nth-child(1){
    border-left-width:0px;
  }
  .nav-item:last-child{
    border-right-width:0px;
  }
  .fp-viewing-0 .header .nav-ul .nav-item:nth-child(1) > a,.fp-viewing-1 .header .nav-ul .nav-item:nth-child(2) > a,[class*="fp-viewing-2"] .header .nav-ul .nav-item:nth-child(3) > a{
    border:3px solid rgb(228, 145, 68);
  }
  .normal-view-movie,.normal-view-resume,.normal-view-title{
    position: fixed;
    bottom: 16px;
    left:20px;
    width:0;
    bottom:20px;
    height:41px !important;
  }
  .fp-viewing-0 .normal-view-movie,.fp-viewing-1 .normal-view-resume{
    padding-left:10px;
    width: calc(100vw - 40px);
  }
  [class*="fp-viewing-2"] .normal-view-title{
    padding-left:10px;
    width: calc(100vw - 138px);
  }
}
.view-porject {
  position: absolute;
  padding:10px;
  text-align:left;
  width:400px;
  background: #ffffff;
  border:10px solid #111;
  transition:.5s all;
}
.fp-viewing-1 .view-porject{
  width:350px;
  border-color:#420f4d;
}
[class*="fp-viewing-2"] .view-porject{
  border-color:#1c8e80;
}
.normal-view-porject1{
  left:44vw;top:18vh;
}
.normal-view-porject2{
  left:140vw;top:14vh;
}
.normal-view-porject3{
  left:250vw;top:20vh;
}
.normal-view-porject4{
  left:350vw;top:20vh;
}
.normal-view-porject5 {
  left: 450vw;top: 25vh;
}
.view-porject-title{
  font-size:26px;
  font-weight: bold;
  color:#00786a;
  transition:.5s all;
}
.fp-viewing-1 .view-porject-title{
  color:#420f4d;
}
.view-porject-explain{
  font-size:22px;
  color:#00887a;
  transition:.5s all;
}
.fp-viewing-1 .view-porject-explain{
  color:#572362;
}
.view-porject a{
  display: inline-block;
  background-color:#1c8e80;
  padding:5px 20px;
  color:#ffffff;
  border-radius: 4px;
  text-decoration: none;
  transition:.5s all;
}
.fp-viewing-1 .view-porject a{
  background-color:#572362;
}
@media(max-width:767px) {
  .wulogo svg{
    width:41px;
    height:39px;
  }
  .view-porject{
    width: 250px !important;
    top: 25px;
  }
  .normal-view-porject1{
    left:4vw;
  }
  .normal-view-porject2{
    left:104vw;
  }
  .normal-view-porject3{
    left:204vw;
  }
  .normal-view-porject4{
    left:304vw;
  }
  .view-porject-title{
    font-size:18px;
  }
  .view-porject-explain{
    font-size:16px;
  }
  .view-porject a{
    padding: 4px 10px;
    margin-top: 10px;
  }
}
.fp-controlArrow.fp-prev::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0px;
  right: 53px;
  font-family: FontAwesome;
  content: "\f137";
  font-size: 30px;
  color:#1c8e80;
}
.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  bottom: 24px;
  cursor: pointer;
  width: 100px;
  height: 41px;
  background-color: #fff;
  right: 30px;
  border-left:10px solid #1c8e80;
}
.fp-controlArrow.fp-next::after  {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0px;
  right: 12px;
  font-family: FontAwesome;
  content: "\f138";
  font-size: 30px;
  color:#1c8e80;
}
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.fp-slide {
  float: left;
}
.fp-slidesNav{
  position:fixed;
  bottom:8px;
  left:390px;
  text-align: left;
}
.fp-slidesNav ul li{
  display: inline-block;
  width: 65px;
  height: 65px;
  position: relative;
}
.fp-slidesNav ul li:not(:first-child){
  margin-left:-10px;
}
.fp-slidesNav ul li a{
  text-align: center;
}
.fp-slidesNav ul li a span{
  position: absolute;
  z-index: 1;
  height: 65px;
  width: 65px;
  background-color:#ffffff;
  border: 10px solid #1c8e80;
  color:#1c8e80;
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.fp-slidesNav ul li a.active span{
  background-color:#1c8e80;
  color:#ffffff;
}
.fp-slidesNav ul li a span:hover{
  background-color:#27b3a1;
  color:#ffffff;
}
.fp-slidesNav ul li:nth-child(1) a span::before{
  content:"1";
}
.fp-slidesNav ul li:nth-child(2) a span::before{
  content:"2";
}
.fp-slidesNav ul li:nth-child(3) a span::before{
  content:"3";
}
.fp-slidesNav ul li:nth-child(4) a span::before{
  content:"4";
}
.fp-slidesNav ul li:nth-child(5) a span::before{
  content:"?";
}
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.fp-viewing-0 .fp-slidesNav, .fp-viewing-1 .fp-slidesNav{
  display:none;
}
/*only for ie好棒棒*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fp-slidesNav{
    bottom:4px;
  }
}
@media(min-width:768px) {
  .fp-controlArrow{
    display:none;
  }
}
@media(max-width:767px) {
	.fp-slidesNav{
    display:none;
  }
  .slide img{
    width:80vw;
  }
}
.text-motion-box,.text-motion-box2{
  position: relative;
  z-index: 2;
  width: 45vw;
  height: 100vh;
  float: left;
  display: inline-block;
  left: 12vw;
}
.text-motion-box2{
  width:33vw;
}
.text-motion-box img,.text-motion-box2 img{
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: auto;
}

.bg-cloud{
	height:100%;
	width:100%;
	position: fixed;
	left:0px;
	bottom:0px;
	z-index: 99;
	pointer-events: none;
}
.fp-viewing-0 .bg-cloud::before,.fp-viewing-1 .bg-cloud::before{
	bottom: 0px;
}
.bg-cloud .section1-inner{
	transform-origin:inherit;
}
.bg-cloud .section1-inner::before{
	position: absolute;
	content:"";
	width: 100vw;
	height: 1200vh;
	background-image: url(../image/road.png);
	background-repeat:repeat;
	background-position: 0%;
	opacity:0;
	transition:opacity 1s 1s ease-in-out,top 1s 0s ease-in-out;
	animation: show-hide 4500ms 1s infinite;
}
@keyframes show-hide {
	0%, 100% {
	 opacity:0
	}
	20%, 80% {
	 opacity:1
	}
   }
.bg-cloud .section1-inner::before{
	left: -20px;
	top: -400px;
}
.fp-viewing-1 .bg-cloud .section1-inner::before{
	top:-550px;
}
[class*="fp-viewing-2"] .bg-cloud .section1-inner::before{
	top:-750px;
}
@media(max-width:767px) {
	.bg-cloud .section1-inner::before{
		left: -140px;
		width: 200vw;
		background-size: 70%;
	}
}
/**** progress ****/
.progress {
  background-color: #f1f1f1;
  color: #036eb8;
  height: 100%;
  position: fixed;
  left:0;
  right:0;
  top:0px;
  bottom:0px;
  width: 100%;
  z-index: 999;
}
.progress-text {
  font-family: "Menlo", "Consolas", monospace;
  font-size: 66px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  top: calc(50% - 10px);
  width: 100%;
}
.perspect3d{
  position: absolute;
  top:calc(50% - 90px);
  left:calc(50% - 30px);
  height: 60px;
  width: 60px;
  transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);
  transform-style: preserve-3d;
  animation: cube 5500ms infinite;
}
.cube1 {
  background-color: #e2e2e2;
  transform: translateZ(30px);
}
.cube2 {
  background-color: #63b4f5;
  transform: rotateX(-90deg) translateZ(30px);
}
.cube3 {
  background-color: #113cb7;
  transform: rotateY(90deg) translateZ(30px);
}
.cube4 {
  background-color: #63b4f5;
  transform: rotateX(-90deg) translateZ(-30px);
}
.cube5 {
  background-color: #e2e2e2;
  transform: translateZ(-30px);
}
.cube6 {
  background-color: #113cb7;
  transform: rotateY(90deg) translateZ(-30px);
}
.cube1, .cube2, .cube3,.cube4, .cube5, .cube6 {
  height: 60px;
  position: absolute;
  width: 60px;
}   
@keyframes cube {
	0% {
    transform:rotateX(45deg) rotateZ(45deg) rotateY(0deg);
	}
  50%{
    transform:rotateX(45deg) rotateZ(225deg) rotateY(360deg);
  }
  100% {
    transform:rotateX(45deg) rotateZ(45deg) rotateY(0deg);
	}
   }
.scroll-hint{
  display:none;
}
.fp-viewing-0 .scroll-hint{
  display:block;
  position:absolute;
  z-index:99;
  left:calc(50% - 6px);
  bottom:60px;
  pointer-events:none;
  touch-action: none;
}
.fp-viewing-0 .scroll-hint i {
  color:#fff;
  position: relative;
  top:-4px;
  left: 4px;
  animation: hint 500ms infinite;
}
@keyframes hint {
	0% {
    top:-4px;
	}
	100% {
   top:10px;
	}
}
.fp-viewing-0 .gesture,.fp-viewing-2-0 .gesture{
  display:none;
}
@media(max-width:767px) {
  .fp-viewing-2-0 .scroll-hint{
    display:block;
    position:absolute;
    z-index:99;
    left:calc(50% - 6px);
    bottom:60px;
    pointer-events:none;
    touch-action: none;
  }
  .fp-viewing-0 .scroll-hint i{
      animation: unset;
    }
    .fp-viewing-0 .scroll-hint p,.mouse,.scroll-hint i,.fp-viewing-2-0 .scroll-hint p{
      display:none !important;
    }
    .fp-viewing-0 .gesture{
      display:block;
      position: relative;
      width:50px;
      animation: gestureyo 1000ms infinite;
    }
    @keyframes gestureyo {
      0% {
        top:15px;
        transform: rotateZ(0deg);
      }
      60%{opacity: 1;}
      100% {
      opacity: 0;
      transform: rotateZ(25deg);
      top:-10px;
      }
    }
    .fp-viewing-0 .scroll-hint,.fp-viewing-2-0 .scroll-hint{
      bottom:120px;
    }
    .fp-viewing-2-0 .gesture{
      display:block;
      position: relative;
      width:50px;
      animation: gestureright 1000ms infinite;
    }
    @keyframes gestureright {
      0% {
        left:-10px;
        transform: rotateZ(0deg);
      }
      60%{opacity: 1;}
      100% {
      opacity: 0;
      transform: rotateZ(25deg);
      left:15px;
      }
    }

  }
